doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/styles.css")
        title SWAGGER
    body
        h1 SWAGGER PET STORE
        h2 GET /pets
        h4 Summary: #{list.summary} - Operation ID: #{list.operationId}
        - const pets = JSON.parse(list.responses.content)
        div.container
            each pet in pets
                div.pet
                    p= 'ID: '+pet.id
                    p= 'Name: '+pet.name
                    p= 'Tag: '+pet.tag