doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/styles.css")
        title SWAGGER
    body
        h1 SWAGGER PET STORE
        h2= 'GET /pets/{id}'
        h4 Summary: #{byId.summary} - Operation ID: #{byId.operationId}
        - const pet = JSON.parse(byId.responses.content)
        div.container
            div.pet
                p= 'ID: '+pet.id
                p= 'Name: '+pet.name
                p= 'Tag: '+pet.tag